.card {

    //functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; //so prespective work and height clearfix
    


    &__side{
        height: 52rem;
        transition: all .8s ease-out;
        //to the two card be top of each other we must make sides absoulte and parent class to relative
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; //hide back part
        border-radius: 3px;
        overflow: hidden; //to make photo overflow of the child (backgroound image) doesnot affect the border
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: #fff;

            
        }

        &--back {
            
            transform: rotateY(180deg);//at the start the front is on and back is 180 degree when hover front rotate 180 deg and back rotate -180

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }

        }

    
    }


    &:hover &__side--front{
        transform: rotateY(-180deg); //front card rotate 180
    }

    &:hover &__side--back{
        transform: rotateY(0); //back card rotate from 180 to 0

    }

    //front side styling

    &__picture {
        //for all pictures
        background-size: cover;
        height: 23rem;
        background-blend-mode:screen ;//to make mix between image and gradient (blend modes)
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
        //for some reason clip remove the rounded edges from top left and top right
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1{
            background-image:linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
             url(../img/nat-5.jpg);
        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
             url(../img/nat-6.jpg);
        }
        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
             url(../img/nat-7.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color:$color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        padding-right: 2rem; //to make the heading title left away from the edge of the card
        padding-top: 1rem; //to make the heading title a bit down
    }
    //new element so we use sepert selector
    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;//to make it treat the two lines of text as they are separate elements so apply padding on line
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85),
             rgba($color-secondary-dark,.85));
        }

        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85),
             rgba($color-primary-dark,.85));
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85),
             rgba($color-tertiary-dark,.85));
        }





    }
    &__details {
       padding: 3rem;

        ul{
            list-style: none;
            width : 80%; //to make it do not occupt all the space

            margin: 0 auto; //to center the list into the card

            li {
                text-align: center;
                font-size: 1.5rem;
                padding:1rem ;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }
    //front side styling
    &__cta {
        //center cta box on the card same as header
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; //of the card width
        text-align: center; //to center the button

    }

    &__price-box{
      text-align: center;
      color: $color-white;
      margin-bottom: 8rem;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem; 
        font-weight: 100; //large text better to be thin
    }

    //at none hover device make button in the bottom of the card
    @media only screen and (max-width: 50.25em),
           only screen and (hover:none) {
        //functionality
    
    height: auto; 
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    


    &__side{
        height: auto;
        position: relative;
        box-shadow: none;
        
      


        &--back {
            
            transform: rotateY(0deg);//at the start the front is on and back is 180 degree when hover front rotate 180 deg and back rotate -180
            clip-path: polygon(0 15%,  100% 0, 100% 100%, 0 100%);

        }

    
    }

    &:hover &__side--front{
        transform: rotateY(0deg); 
    }

    &__details {
        padding: 1rem 3rem;
    }

    //front side styling
    &__cta {
        //center cta box on the card same as header
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate( 0);
        width: 100%; //of the card width
        padding: 7rem 4rem 4rem 4rem;
        

    }

    &__price-box{
      margin-bottom: 3rem;
    }

 
    &__price-value{
        font-size: 4rem; 
       
    }

        
    }

}